<div class="jui-cf jui-cf--show-comments">

  <div class="jui-cf__toolbar" role="toolbar">
    <div class="jui-cf__toolbar-container">
      <!-- show case list tree-->
      <button
        class="jui-cf__toolbar-button jui-cf__toolbar-button--items"
        type="button"
        role="button">
        Annotation UI Demo
      </button>
    </div>
  </div>

  <!-- Case file complete start-->
  <div class="jui-cf__window">

    <div class="jui-cf__window-container">

      <!-- Casefile View Code with annotation stuff starts -->
      <div class="jui-cf__document">
        <div class="jui-cf__document-comments" id="comments" style="display: block">
          <div class="hmcts-alert">

            <svg class="hmcts-alert__icon" fill="currentColor" role="presentation" focusable="false"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
              <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
            </svg>
            <span class="hmcts-alert__message">
              <span class="hmcts-alert__assistive">Success</span>
              Select text to add a comment.
            </span>
          </div>
        </div>
        <!-- Casefile View Code starts -->
        <div class="jui-cf__document-pages">
          <div class="jui-cf__document-page">
            <div class="jui-casefile-document-wrapper">
              <div class="jui-casefile-page editable medium-editor-element" data-medium-editor-element="true"
                   role="textbox"
                   aria-multiline="true" data-medium-editor-editor-index="1"
                   medium-editor-index="ca3cfb8f-8b6a-8f73-1ed5-fa7679703446" data-placeholder="Type your text">
                <app-document-viewer
                  [baseUrl]="'http://localhost:3000/api'"
                  [annotate]="true"
                  [url]="'https://dm-store-aat.service.core-compute-aat.internal/documents/35f3714e-30e0-45d6-b4fb-08f51c271f8e'">
                </app-document-viewer>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Casefile View Code with annotation stuff ends -->

    </div>
  </div>
  <!-- Case file complete end-->
</div>
