<div class="aui aui--show-comments">

  <div class="aui__toolbar" role="toolbar">
    <div class="aui__toolbar-container">
      <button
        class="aui__toolbar-button"
        type="button"
        role="button">
        <b>Annotation UI Demo</b>
      </button>
    </div>
  </div>
  <div class="aui__toolbar" role="toolbar">
    <div class="aui__toolbar-container">
      <button (click)="toggleDocumentSelection('DM_PDF')"
        class="aui__toolbar-button aui__toolbar-button--items"
        type="button"
        role="button">
        Document Store
      </button>
      <button (click)="toggleDocumentSelection('nonDM_PDF')"
        class="aui__toolbar-button aui__toolbar-button--items"
        type="button"
        role="button">
        Non Document Store PDF
      </button>
      <button (click)="toggleDocumentSelection('nonDM_image')"
        class="aui__toolbar-button aui__toolbar-button--items"
        type="button"
        role="button">
        Non Document Store Image
      </button>
    </div>
  </div>

  <div class="aui__window">

    <div class="aui__window-container">

      <div class="aui__document">
        <div class="aui__document-comments" id="comments" style="display: block">
          <div class="hmcts-alert">

            <svg class="hmcts-alert__icon" fill="currentColor" role="presentation" focusable="false"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
              <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
            </svg>
            <span class="hmcts-alert__message">
              <span class="hmcts-alert__assistive">Success</span>
              Select text to add a comment.
            </span>
          </div>
        </div>
        <div class="aui__document-pages">
          <div class="aui__document-page">
            <div class="aui-casefile-document-wrapper">
              <div class="aui-casefile-page editable medium-editor-element" data-medium-editor-element="true"
                   role="textbox"
                   aria-multiline="true" data-medium-editor-editor-index="1"
                   medium-editor-index="ca3cfb8f-8b6a-8f73-1ed5-fa7679703446" data-placeholder="Type your text">
                <app-document-viewer *ngIf="documentTypeToShow === 'DM_PDF'"
                  [baseUrl]="'http://localhost:3000/api'"
                  [annotate]="true"
                  [url]="'https://dm-store-aat.service.core-compute-aat.internal/documents/35f3714e-30e0-45d6-b4fb-08f51c271f8e'"
                  [isDM]="true">
                </app-document-viewer>
                <app-document-viewer *ngIf="documentTypeToShow === 'nonDM_PDF'"
                  [baseUrl]="'http://localhost:3000/api'"
                  [annotate]="false"
                  [url]="'http://localhost:3000/assets/non-dm.pdf'"
                  [isDM]="false"
                  [contentType]="'pdf'">
                </app-document-viewer>
                <app-document-viewer *ngIf="documentTypeToShow === 'nonDM_image'"
                  [baseUrl]="'http://localhost:3000/api'"
                  [annotate]="false"
                  [url]="'http://localhost:3000/assets/non-dm.jpg'"
                  [isDM]="false"
                  [contentType]="'image'">
                </app-document-viewer>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
