<svg style="position:absolute;left:0px;top:0px" 
width="800" height="200" #slider>
  <g transform="translate(0.5,0.5)"></g>
  <!-- <text y="-4"
        fill="lightgrey" class="slider-text"
        *ngIf="!!label"
        transform="rotate(90)">{{ label }}</text>
  <path d="M 12 0 v 128" fill="none" stroke="grey"></path> -->
  <circle r="4" cx="12" [attr.cy]="cursorPt.y" fill="currentColor"></circle>

  <circle cx="12" cy="10" r="10" fill="blue"></circle>
  <path d="M 726 180 C 276 87 270 10 0 0" fill="none" stroke="#456"/>
  
</svg>
