.comment-button {
    height:20px;
    width:20px;
    font-size: 13px;
    padding:0px;
}
.comment-list-item input {
    margin:0;
    // width: 95%;
    height: 50px;
}

.comment-list-form textarea{
    width:100%;
    font-size:12px;
}
.comment-list-form input{
    height: 50px;
    font-size:12px;
    text-align: left; 
    vertical-align: top;
}

